/* ContactUs.css */
.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .contact-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .logo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #007bff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .contact-form {
    width: 100%;
    max-width: 600px;
  }
  
  .contact-form h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  .contact-form input,
  .contact-form textarea {
    background-color: #f2f2f2;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form button {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  